@require "colors"

.ep-body
  md-tabs-wrapper
    background-color $deep-background
    border-bottom 1px solid $main-border
  md-tabs-canvas
    height 38px
  md-pagination-wrapper
    height 38px
  md-tab-item.md-tab
    background-color $deep-background
    color #aaa
    font-size 12px
    padding 6px 24px
    text-transform none
  md-tab-item.md-active
    background-color $background
    color white
  md-ink-bar
    background $blue

  md-menu-content
    background $light-background
    padding 0
